<div class="backdrop">
	<div id="nav-bar">
		<%if(logged_in?)%>
			<div id="logo"><a href="#/">Locus/</a></div>
				<div><%= button_to "leave", session_url, method: :delete, class: "btn btn-logout" %></div>
			<form id="search-bar">
				<input id="tags" placeholder="search tags">
				<input type="submit" style="display: none">
			</form>
		<%end%>
	</div>
	
	<div id="main"></div>
</div>


<script>$(Locus.initialize);</script>


