<div class="backdrop">
	<div id="nav-bar">
		<%if(logged_in?)%>
			<div id="logo"><a href="#/">Locus</a></div>
			<div id="home-leave">
				<div><a class="home btn-home" href="#/pieces" >⟤</a></div>
				<div>/</div>
				<div><%= button_to "⟤", session_url, method: :delete, class: "btn btn-logout" %></div>
			</div>
			<input type="text" id="search" placeholder="search tags">
		<%end%>
	</div>
	
	<div id="main"></div>
</div>
<script>$(Locus.initialize);</script>

