<div id="p-piece-form">
	<div id="div-form">
		<div class="piece-media"><%= media.mediaHtml({form: true}) %> </div>
		<form >
			<input type="text" id="piece-form-title" name="piece[title]" placeholder="Piece Title">
			<textarea id="piece-form-text" name="piece[statement]" placeholder="Piece Statement"></textarea>
	
			<input type="submit" value="post" class="btn">
		</form>
	</div>
</div>

	
	

