<div id="fileupload">Come on buddy</div>
<div id="image-button">Image</div>
<div id="audio-button">Audio</div>
<div id="video-button">Video/Film</div>

<div id="random-tab" style>View Random Pieces</div>
<div id="home-tab" style="display: none">View Main Feed</div>

<div id="piece-form" style="display: none"></div>

	


