<div id="image-button">	

<input 
	id="image-input"
	type="filepicker" 
    name="image[url]" 
    data-fp-button-text="Image"
	data-fp-apikey="Aej0E2YFRSEuECMt5FTXjz" 
	data-fp-mimetypes="image/*"
	data-fp-container="modal" 
	data-fp-services="COMPUTER,DROPBOX,FACEBOOK,GOOGLE_DRIVE,INSTAGRAM,URL" 
	onchange="alert(event.fpfile.url)"
>
 
</div>
<div id="audio-button">Audio</div>
<did id="video-button">Video/Film</div>

