<div><%= user.fname %></div>
<div><%= user.lname %></div>

<input
  type="filepicker"
  data-fp-mimetype="image/*"
  name="image[url]" 
  data-fp-button-text="Post Piece" 
  data-fp-button-class="btn btn-post-piece"
 >
  
<script type="text/javascript" src="http://api.filepicker.io/v1/filepicker.js"></script>
<script> filepicker.setKey("Aej0E2YFRSEuECMt5FTXjz")</script>