<form id="a-s">
	<textarea id="a-statement-input" 
	name='profile[artist_statement]' 
	placeholder="For writing something about yourself"><%= statement %></textarea>
	<input type="submit" value="save" class="btn save-as">
</form>

