<div id= "profile-wrapper">
	
	<div id="user-wrapper">
		<div id="user-name">
			<%= user['user_fname']%> 
			<%= user['user_lname']%> 
		</div>
		
		
	
<!--		<% if(profile.get('ownprofile')) {%>
			<div id="own-collaborate-badge">C
				<div id="c-pop-up" style="display: none">
					<p>stop seeking collaborations</p>
				</div>
			</div>
		<% } else {%>
			<div id="collaborate-badge">C</div>
			<div id='sug-col' style="display: none">Propose Collaboration </div>
		<%}%> -->
	

	<!-- <% if(profile.get('ownprofile')){ %>
		<div id="un-collaborate-badge" style="display:none">C
			<div id="c-pop-up" style="display: none">
				<p>start seeking collaborations</p>
			</div>
		</div>
	<% } %> -->
	
	
	
		<% if(profile.get('ownprofile')){%>
			<div class="art pencil">✎</div>
			<div id='edit' style="display: none">edit</div>
		<%}%>
		
		<div id="artist-statement"></div>
	
		<% if (!profile.get('ownprofile')){ %>
			<% if(profile.get('follows')){ %>
				<div class="btn follow-btn" style="display: none">follow</div>
				<div class="btn unfollow-btn">unfollow</div>
			<% } else { %>
				<div class="btn follow-btn" style>follow</div>
				<div class="btn unfollow-btn" style="display: none">unfollow</div>
			<% } %>
		<% } %>
	</div>

	<% if(profile.get('ownprofile')){ %>
		<div id="cover-piece-form"><p>select a cover item from your existent posts</p></div>
	<% } %>
	
	<div id="cover-piece"></div>
	<div id="line"></div>
	<div id="own-gallery"></div>
	
</div>




