<div id="user-fname"><%= user['user_fname']%> </div>
<div id="user-fname"><%= user['user_lname']%> </div>

<% if(user['collaborate'] === true) { %>
	<div id="collaborate-badge">Seeking Collaboration</div>
<% } %>

<div id="cover-piece"></div>
<div id="artist-statement"></div>
<div id="collaborative-statement"></div>
<div id="own-gallery"></div>




