<div id= "profile-wrapper">
	<div id="user-wrapper">
		<div id="user-name">
			<%= user['user_fname']%> 
			<%= user['user_lname']%> 
		</div>
	
		<% if(user['collaborate'] === true) { %>
			<div id="collaborate-badge">SC</div>
		<% } %>
		
		<div id="artist-statement"></div>
		<% if (!profile.get('ownprofile')){ %>
			<% if(profile.get('follows')){ %>
				<div class="btn follow-btn" style="display: none">follow</div>
				<div class="btn unfollow-btn">unfollow</div>
			<% } else { %>
				<div class="btn follow-btn" style>follow</div>
				<div class="btn unfollow-btn" style="display: none">unfollow</div>
			<% } %>
		<% } %>
		
		
	</div>

	<% if(profile.get('cover_piece') === null){ %>
		<div id="cover-piece-form">select a cover piece from below</div>
	<% } %>
	<div id="cover-piece"></div>
	
	<div id="own-gallery"></div>
</div>




