/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html {
	font-family: Arial;
}

.backdrop {

}

ul {
	list-style-type: none;
}

a:link {
	text-decoration: none;
	color: black;
	font-size: 150%;
}

a:visited {
    text-decoration: none;
	color: black;
}

#nav-bar {
	height: 60px;
	padding-bottom: -2px;
	margin-bottom: 20px;
	border-bottom: 1px solid darkgray;
	text-align: bottom;
}


#logo {
	text-align: center;
	display: inline-block;
	color: black;
	float: left;
}



.btn.btn-logout {
	display: inline-block;
    font-size: 18px;
	margin: 0px;
	padding: 6px 4px 6px 4px;
	float: left;
}



#home-leave {
	width: 100px;
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	margin-top: 1px;
	font-size: 150%;
}

#home-leave > div {
	float: left;
	margin: 5px;
}

a:link.btn-home{
	color: black;
	background: white;
	border: 1px solid black;
	display: inline-block;
    font-size: 18px;
	border-radius: 4px;
	margin: 0px;
	padding: 6px 4px 6px 4px;
	float: left;
}

a:link.btn-home:hover {
	color: white;
	background: black;
	display: inline-block;
    font-size: 18px;
	margin: 0px;
	padding: 6px 4px 6px 4px;
	float: left;
}



input#search {
	width: 150px;
	height: 5px;
	border: 1px solid black;
	font-size: 100%;
	border-radius: 4px;
	float: right;
}



input {
	border: 0;
	width: 100%;
	padding: 11px 10px 11px 13px;
	display: block;
	margin: 0;
	font-size: 120%;
}



input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

a.btn {
	border: 0px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
	margin: 5px;
	float: right;
}

a.btn:hover {
	color: black;
	background: white;
	border: 1px solid black;
}