/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self 
 *= require jquery-ui
 *= require jquery.tagit
 */




html {
	font-family: Arial;
	background-color: white;
}



.main {
	clear: both;
	height: 100%;
}



ul {
	list-style-type: none;
}

ul.tagit li.tagit-choice a.tagit-label {
    cursor: pointer !important;
    text-decoration: none;
	border-radius: 2px;
	background: black !important;
	color: white !important;
	font-family: arial;
}

#nav-bar a:link {
	text-decoration: none;
	font-size: 150%;
	color: black;
}

#nav-bar a:visited {
    text-decoration: none;
	color: black;
}

#nav-bar {
	margin: -10px;
	height: 60px;
	padding: 5px;
	padding-bottom: -2px;
	margin-bottom: 20px;
	text-align: bottom;
	background-color: #f1f1f1;
}


#logo {
	margin-top: 12px;
	text-align: center;
	display: inline-block;
	color: black;
	float: left;
	font-size: 200%;
}



.btn.btn-logout {
	display: inline-block;
    font-size: 18px;
	margin: 0px;
	margin-left: 5px;
	margin-top: 24px;
	padding: 6px 4px 6px 4px;
	float: left;
	width: 100px;
	border-radius: 2px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


input {
	border: 0;
	width: 100%;
	padding: 11px 10px 11px 13px;
	display: block;
	margin: 0;
	font-size: 120%;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

ul#search-tags {
	margin-top: 26px;
	float: right;
}

#submit-search {
	float: right;
	margin-right: 10px;
	border-radius: 2px;
	border: 1px solid black;
	width: 50px;
	height: 22px;
	margin-top: 26px;
	margin-left: 3px;
	padding-top: 9px;
	color: white;
	background: black;
	text-align: center;
	line-height: 15px;
}

#submit-search:hover {
	background: white;
	color: black;
	cursor: pointer;
	cursor: hand;

}


a.btn {
	border: 1px;
    border-radius: 2px;
    color: #ffffff;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
	margin: 5px;
	float: right;
}

a.btn:hover {
	color: black;
	background: white;
	border: 1px solid black;
}


a.btn:hover #nav-bar {
	background: #fffffa ;
}