#user-sidebar{
	float: left;
	border: 1px solid black;
	height: 300px;
	width: 100px;
	margin-right: 10px;
	display: inline-block;
}

#gallery{
	border: 1px solid black;
	height: 400px;
	width: 400px;
	float: left;
}