#user-sidebar{
	float: left;
	border-radius: 2px;
	min-height: 100px;
	width: 200px;
	margin-right: 10px;
	display: inline-block;
	font-weight: bold;
	padding-left: 5px;
	font-size: 150%;
	text-align: top;
	background-color: #f1f1f1;
	
}

#user-sidebar > div {
	margin: 0px;
}

#user-sidebar #user-name:hover {
	cursor: pointer;
	cursor: hand;
	font-style: italic;
}

#user-sidebar #user-name {
	margin-top: 5px;
	margin-bottom: 10px;
}

#user-sidebar .btn {
	clear: both;
	border-radius: 2px;
	color: white;
	font-size: 15px;
	background: black;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin: 5px;
	margin-left: 0px;
	width: 65px;
}

#user-sidebar .btn:hover {
	cursor: pointer;
	color: black;
	background: white;
}


#user-sidebar:last-child{
	margin-bottom: 0px;
}


#follow-popup {
	min-height: 50px;
	background: #f1f1f1;
	padding: 5px;
}

ul#follows {
	display: inline-block;
	margin: auto;
	background: #f1f1f1;
	margin-right: 34px;
}

a:visited {
    text-decoration: none;
	color: white;
}

a:visited:hover {
	color: black;
}

li.follow-li {
	width: 200px;
	font-size: 100%;
	margin: 3px;
	border-radius: 1px;
	background: black;
	padding: 5px;
	text-align: center;
}

li.follow-li:hover{
	color: black;
	background: white;
};

a:link {
	text-decoration: none;
	color: white;
}

a:link:hover {
	color: black;
}





.btn.btn-post-piece:hover {
	cursor: pointer;
	cursor: hand;
}



#main-space {
	margin-top: 50px;
	width: 100%;
	height: 100%;
}



#upload-bar > div {
	display: inline-block;
	float: left;
	padding: 20px;
}


#upload-bar .upbar > div {
	border-left: 1px solid white;
	height: 100%;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
	float: left;
	padding: 20px;
	padding-bottom: 0px;
}

#upload-bar .upbar > div:nth-child(4) {
	float: right;
}

#upload-bar .upbar > div:nth-child(5) {
	float: right;
}


#upload-bar .upbar > div:hover {
    background-color: white;
	color: black;
	cursor: pointer;
	cursor: hand;
}

#video-button {
	border-left: 1px solid white;
	height: 100%;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
	float: left;
	padding: 20px;
	padding-bottom: 0px;
}

#video-button:hover {
	cursor: pointer;
	cursor: hand;
    background-color: #ffffff;
	color: black;
}

#upload-bar {
	display: inline-block;
	background: black;
	border-radius: 4px;
	color: white;
	width: 100%;
	padding: 0px;
	height: 60px;
	margin-bottom: 20px;
}

#upload-bar .upbar {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}




