// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#a-statement {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	border-radius: 2px;
	display: inline-block;
	margin-top: 10px;
}

#c-statement {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	border-radius: 2px;
	display: inline-block;
}

#cover-piece-form {
	width: 500px;
	height: 200px;
	display: inline-block;
	border: 3px dashed black;
	text-align: center;
	vertical-align: middle;
	float: left;
	margin-left: 15px;
	line-height: 150px;
}





.c-piece-title{
	font-weight: bold;
	margin-bottom: 5px;
}

.c-pieces-statement{
	
}

#profile-wrapper {
	margin: 50px;
	min-height: 100%;
}

.profile {
	margin: 10px;
	height: 100%;
}

.profile #user-wrapper{
	padding: 5px;
	width: 200px;
	min-height: 70px;
	background-color: #f1f1f1;
	float: left;
}

.profile #user-wrapper div {
	float: left;
}



.profile #collaborate-badge {
	display: inline-block;
	float: left;
	border: 1px solid black;
    border-radius: 36px;
    background-color: black;
	color: white;
	width: 14px;
	height: 25px;
    font-size: 21px;
	text-align: center;
    padding: 5px 10px 5px 10px;
}

.profile #collaborate-badge:hover{
	background-color: white;
	border: 1px solid black;
	color: black;
	cursor: pointer;
	cursor: hand;
}

.profile #user-name {
	float: right;
	font-size: 150%;
	margin-right: 3px;
	margin-top: 6px;
	vertical-align: middle
}

.profile .btn {
	clear: both;
    border-radius: 2px;
    color: white;
    font-size: 20px;
    background: black;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
	margin: 5px;
	margin-left: 0px;
	float: right;
}

input.btn.save-as {
	width: 100%;
	margin-right: -1px;
}

.profile .follow-btn:hover {
    background: #003300;
	cursor: pointer;
	cursor: hand;
}


.profile .unfollow-btn:hover {
    background: #4D0000;
	cursor: pointer;
	cursor: hand;
	
}



.profile .set-cover-piece {
	display: inline-block;
    border-radius: 1px;
    color: white;
    font-size: 10px;
    background: black;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
	margin: 5px;
	float: left;
	border: 1px solid white;
	width: 98%;
	height: 10px;
}

.profile .set-cover-piece:hover {
    color: black;
	background: white;
	border: 1px solid black;
}

.profile .remove-piece {
	display: inline-block;
    border-radius: 1px;
    color: white;
    font-size: 10px;
    background: black;
    padding: 5px 10px 5px 10px;
	margin: 5px;
	float: left;
	border: 1px solid white;
	width: 50%;
	height: 40px;
}

.profile .remove-piece:hover{
	
	background: #4D0000;
	border: 1px solid #4D0000;

}

#edit-pencil {
	position: absolute;
	right: 0px;
	top: 120px;
}

.profile .cover-piece {
	color: white;
	background: black;
	display: inline-block;
	float: left;
	padding: 10px;
	max-width: 75%;
	margin-left: 20px;
	border-radius: 2px;
}

.cover-piece .piece-info-wrapper {
	position: relative;
	display: inline-block;
	max-width: 250px;
	float: left;
	margin-left: 5px;
}

.cover-piece img {
	float: left;
}

.profile .piece-title {
	font-size: 110%;
	margin-bottom: 3px;
}

.pencil {
	clear:both;
}

.pencil:hover {
	cursor: pointer;
}

.profile textarea{
	width: 96%;
	height: 180px;
	border: 2px dashed black;
}

#edit {
	display: inline;
	height: 5px;
	font-weight: bold;
}

#artist-statement {
	clear: both;
	min-height: 20px;
	margin-top: 6px;
	word-wrap: normal;
}


.profile #own-gallery {
	clear:both;
	min-height: 600px;
	margin: auto;
}

.profile #own-gallery > div:first-child {
	background: #f1f1f1;
	border-radius: 2px;
	padding-bottom: 5px;
}



#line {
	clear: both;
	width: 100%;
	padding-top: 40px;
	margin-bottom: 5px;
	height: 2px;
	border-bottom: 3px dashed black;
}

#c-statement-form {
	
}

#c-pop-up {
	position: absolute;
	margin-left: 130px;
	float: right;
	z-index: 2000;
	width: 300px;
	min-height: 100px;
	border: 2px dashed black;
	background-color: white;
}












