
#piece-form-title {
	width: 60%;
	height: 10px;
	border: 1px solid black;
	font-size: 80%;
}

#piece-form-text {
	margin-top: 15px;
	margin-left: 0px;
	width: 80%;
	height: 160px;
	border: 1px solid black;
	font-size: 80%;
}

#p-piece-form {
	
	margin-top: 180px;
	margin-bottom: 80px;
	border-radius: 2px;
	max-width: 65%;
	min-height: 500px;
	padding: 10px;
	background: black;
	color: white;
}

#p-piece-form .piece-media {
	margin: auto;
}

#p-piece-form form{
	margin-top: 5px;
}





