
#piece-form-title {
	width: 94%;
	height: 10px;
	font-size: 80%;
	border-radius: 2px;
}

#piece-form-text {
	margin: 10px;
	margin-left: 0px;
	min-width: 100%;
	max-width: 100%;
	min-height: 160px;
	max-height: 160px;
	font-size: 80%;
	border-radius: 2px;
}

#p-piece-form {
	margin-top: 180px;
	margin-bottom: 80px;
	border-radius: 2px;
	max-width: 65%;
	min-height: 200px;
	padding: 10px;
	background: #f1f1f1;
	color: black;
}


#p-piece-form .piece-media {
	margin: auto;
}

#p-piece-form form{
	margin-top: 5px;
}

#p-piece-form input.btn {
	margin-left:0px;
}





