<div id="main-space">
	
	<div id="user-sidebar"></div>
	
	<div id="follow-popup" style="display: none"><ul id="follows"></ul></div>
	
	<div id="gallery-wrapper">
		<div id="upload-bar"></div>
		<div id="gallery"></div>
	</div>
	
	<div id="post-form" style="display: none"></div>
	
</div>

