<ul class="gallery-item">
	<%= piece.mediaHtml() %> 
	
	<div class="piece-info-wrapper">
		<div class="piece-title"><%=piece.escape('title')%></div>
		<div class="piece-artist"><%= piece.escape('artist_fname')%> <%= piece.escape('artist_lname')%></div>
	</div>
</ul>

<div id="piece-show" style="display: none">
</div>