<ul class="gallery-item">
	<%= piece.mediaHtml() %> 
	
	<div class="piece-info-wrapper">
		<div class="piece-title"><%=piece.escape('title')%></div>
		<div class="piece-artist"><%= piece.escape('artist_fname')%> <%= piece.escape('artist_lname')%></div>
		<br>
		<br>
		<% if(piece.get('following')) {%>
			<div class="follow-btn" style="display: none">follow</div>
			<div class="unfollow-btn">unfollow</div>
		<% } else { %>
			<div class="follow-btn" style>follow</div>
			<div class="unfollow-btn" style="display: none">unfollow</div>
		<% } %>
		
		
	</div>
</ul>

<div id="piece-show" style="display: none">
</div>